apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: packing-assistant
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30173
      protocol: TCP
